@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 문미영
    작성일 : 2024.03.14
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
@media screen and (max-width:1600px){
    section .wrapper,
    footer .wrapper {
        width: auto;
        margin: 0 150px;
    }
}
@media screen and (max-width:1024px){
    section .wrapper,
    footer .wrapper {
        margin: 0 20px 0 20px;
    }
}

.visual, 
.visual .swiper, 
.visual ul li .photo {
    height: 100vh; /* 팝업의 높이제어 */
}
.visual ul li .tit {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 1000px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.visual ul li .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 23px;
}
.visual ul li .tit a {
    display: inline-block;
    margin-top: 23px;
    padding: 12px 63px;
    border: 2px solid #fff;
    border-radius: 25px;
}
.visual ul li .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* visual 이미지가 보일때 애니메이션 작동 */
.visual ul li.swiper-slide-active .photo img {
    animation-name: visual_img;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes visual_img { 
	0% { transform:scale3d(1.2, 1.2, 1) }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:scale3d(1, 1, 1) } /* 애니메이션이 종료될때의 속성 */
}
.visual ul li.swiper-slide-active .tit h2,
.visual ul li.swiper-slide-active .tit p,
.visual ul li.swiper-slide-active .tit a {
    animation-name: visual_tit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
.visual ul li.swiper-slide-active .tit p {
    animation-delay: 0.3s;
}
.visual ul li.swiper-slide-active .tit a {
    animation-delay: 0.6s;
}
@keyframes visual_tit { 
	0% { transform:translate(0, 50px); opacity: 0; }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:translate(0, 0); opacity: 1; } /* 애니메이션이 종료될때의 속성 */
}
.visual .paging {
    position: absolute;
    left: calc(50% - 640px);
    bottom: 80px;
    z-index: 11;
    width: 1280px;
    display: flex;
}
.visual .paging > span {
    display: block;
    width: 25%;
    height: 9px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
}
.visual .paging > span > span {
    position: absolute;
    left: 0;
    top: -25px;
    color: #fff;
}
/* 현재 팝업이 활성화 되었을때 */
.visual .paging > span.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .paging > span.swiper-pagination-bullet-active > span {
    font-weight: 700;
}
.visual .paging .page1 span::before {
    content: "생명의 숲은 ";
}
.visual .paging .page2 span::before {
    content: "그린짐 참여신청 ";
}
.visual .paging .page3 span::before {
    content: "후원안내 ";
}
.visual .paging .page4 span::before {
    content: "참여프로그램 ";
}
@media screen and (max-width:1320px){
    .visual ul li .tit {
        font-size: 15px;
        width: calc(100% - 250px);
    }
    .visual ul li .tit h2 {
        font-size: 40px;
    }
    .visual .paging {
        left: 20px;
        bottom: 30px;
        width: calc(100% - 40px);
    }
    .visual .paging > span {
        height: 5px;
    }
}
@media screen and (max-width:1024px){
    .visual ul li .tit {
        font-size: 14px;
        width: calc(100% - 40px);
    }
    .visual ul li .tit h2 {
        font-size: 35px;
    }
}
@media screen and (max-width:768px){
    .visual ul li .tit {
        font-size: 13px;
    }
    .visual ul li .tit h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .visual ul li .tit a {
        margin-top: 15px;
        padding: 8px 30px;
    }
    .visual ul li .tit br {
        display: none;
    }
    .visual .paging {
        justify-content: center;
    }
    .visual .paging > span {
        width: 12px;
        height: 12px;
        background-color: transparent;
        margin: 2px !important;
        border: 1px solid #fff;
        border-radius: 6px;
    }
    .visual .paging > span > span {
       display: none;
    }
}

aside.quick {
    position: fixed;
    right: 50px;
    bottom: 85px;
    z-index: 100;
}
aside.quick ul li {
    margin-top: 5px;
}
aside.quick ul li a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #2AC49E;
    color: #fff;
    font-size: 13px;
    padding-top: 33px;
    text-align: center;
    position: relative; /* before */
    box-shadow: 0 0 5px rgba(0,0,0,0.1)
}
aside.quick ul li.top a {
    background-color: #097CBF;
}
aside.quick ul li a::before {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}
aside.quick ul li.donation a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0041 18.3356C5.40174 18.3356 1.67078 14.6047 1.67078 10.0022C1.67078 5.3999 5.40174 1.66895 10.0041 1.66895C14.6065 1.66895 18.3375 5.3999 18.3375 10.0022C18.3375 14.6047 14.6065 18.3356 10.0041 18.3356ZM10.0041 16.6689C13.686 16.6689 16.6708 13.6842 16.6708 10.0022C16.6708 6.32038 13.686 3.33561 10.0041 3.33561C6.32221 3.33561 3.33744 6.32038 3.33744 10.0022C3.33744 13.6842 6.32221 16.6689 10.0041 16.6689ZM7.08744 11.6689H11.6708C11.9009 11.6689 12.0875 11.4824 12.0875 11.2522C12.0875 11.0222 11.9009 10.8356 11.6708 10.8356H8.33746C7.18685 10.8356 6.25411 9.9029 6.25411 8.75224C6.25411 7.60168 7.18685 6.66895 8.33746 6.66895H9.17079V5.00228H10.8375V6.66895H12.9208V8.33557H8.33746C8.10733 8.33557 7.92078 8.52215 7.92078 8.75224C7.92078 8.9824 8.10733 9.1689 8.33746 9.1689H11.6708C12.8214 9.1689 13.7541 10.1017 13.7541 11.2522C13.7541 12.4029 12.8214 13.3356 11.6708 13.3356H10.8375V15.0022H9.17079V13.3356H7.08744V11.6689Z' fill='white'/%3E%3C/svg%3E%0A");
}
aside.quick ul li.my a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.8335C5 3.07207 7.23857 0.833496 10 0.833496C12.7614 0.833496 15 3.07207 15 5.8335C15 6.05195 14.9859 6.26741 14.9587 6.47897C16.475 7.33694 17.5 8.96475 17.5 10.8335C17.5 13.5949 15.2614 15.8335 12.5 15.8335H10.8333V18.3335H9.16667V15.8335H7.08333C4.55202 15.8335 2.5 13.7815 2.5 11.2502C2.5 9.40541 3.58927 7.81655 5.15915 7.08936C5.05529 6.68809 5 6.26715 5 5.8335ZM5.84137 8.61008C4.85147 9.07666 4.16667 10.0842 4.16667 11.2502C4.16667 12.861 5.4725 14.1668 7.08333 14.1668H12.5C14.3409 14.1668 15.8333 12.6744 15.8333 10.8335C15.8333 9.4215 14.9551 8.21256 13.712 7.72711L13.0107 7.45326C13.1589 6.91964 13.3333 6.39335 13.3333 5.8335C13.3333 3.99255 11.8409 2.50016 10 2.50016C8.15905 2.50016 6.66667 3.99255 6.66667 5.8335C6.66667 6.92335 7.18883 7.89102 8.00016 8.50058L6.99903 9.83308C6.54806 9.49425 6.15597 9.08041 5.84137 8.61008Z' fill='white'/%3E%3C/svg%3E%0A");
}
aside.quick ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_16_517)'%3E%3Cpath d='M21.4241 5.17979C21.4241 2.63636 19.3738 0.57959 16.8513 0.57959H5.1487C2.62619 0.57959 0.575928 2.64215 0.575928 5.17979V10.6548C0.575928 13.1983 2.62619 15.2551 5.1487 15.2551H16.8456C19.3738 15.2551 21.4183 13.1925 21.4183 10.6548V5.17979H21.4241ZM14.5419 8.33157L9.2953 10.9445C9.08797 11.0546 8.39111 10.904 8.39111 10.6722V5.31305C8.39111 5.07551 9.09373 4.92487 9.30106 5.04075L14.323 7.78696C14.5361 7.90863 14.755 8.2157 14.5419 8.33157Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_517'%3E%3Crect width='22' height='15.84' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
aside.quick ul li.insta a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_16_508)'%3E%3Cpath d='M12.9969 3.03467C12.4483 3.03467 11.9998 3.48317 11.9998 4.03186C11.9998 4.58056 12.4483 5.02905 12.9969 5.02905C13.5456 5.02905 13.9941 4.58056 13.9941 4.03186C13.9941 3.48317 13.5456 3.03467 12.9969 3.03467Z' fill='white'/%3E%3Cpath d='M8.56916 4.31299C6.25987 4.31299 4.38477 6.19286 4.38477 8.49738C4.38477 10.8019 6.26464 12.6818 8.56916 12.6818C10.8737 12.6818 12.7536 10.8019 12.7536 8.49738C12.7536 6.19286 10.8737 4.31299 8.56916 4.31299ZM8.56916 11.1788C7.09007 11.1788 5.88771 9.97647 5.88771 8.49738C5.88771 7.01829 7.09007 5.81594 8.56916 5.81594C10.0483 5.81594 11.2506 7.01829 11.2506 8.49738C11.2506 9.97647 10.0483 11.1788 8.56916 11.1788Z' fill='white'/%3E%3Cpath d='M11.89 17H5.10525C2.2902 17 0 14.7098 0 11.8948V5.11002C0 2.29021 2.2902 0 5.10525 0H11.89C14.705 0 16.9952 2.2902 16.9952 5.10525V11.89C16.9952 14.705 14.705 16.9952 11.89 16.9952V17ZM5.10525 1.59837C3.17289 1.59837 1.59837 3.17289 1.59837 5.10525V11.89C1.59837 13.8223 3.17289 15.3969 5.10525 15.3969H11.89C13.8223 15.3969 15.3969 13.8223 15.3969 11.89V5.10525C15.3969 3.17289 13.8223 1.59837 11.89 1.59837H5.10525Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_508'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
aside.quick ul li.top a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99997 11.5953L13.9941 15.5894L15.1726 14.4109L9.99997 9.23833L4.82739 14.4109L6.0059 15.5894L9.99997 11.5953ZM4.99998 5.8335H15V7.50016H4.99998V5.8335Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1600px){
    aside.quick {
        right: 10px;
    }
}
@media screen and (max-width:1024px){
    aside.quick {
        display: none !important;
    }
}

.tree .tit {
    width: 580px;
}
.tree .num {
    color: #2AC49E;
    display: flex;
}
.tree .num strong {
    font-size: 150px;
    font-weight: 700;
}
.tree .num .plus {
    font-size: 70px;
}
.tree h2 {
    margin: 23px 0 10px 0;
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
}
.tree p {
    margin-right: 50px;
}
.tree .photo {
    position: absolute;
    left: calc(50% - 640);
    width: 1280px;
    top: 100px;
    height: calc(100vh - 100px);
    background: url(../images/main/tree_pc_bg.png) no-repeat right center;
}

@media screen and (max-width:768px){
    .tree {
        height: auto !important;
        min-height: auto !important;
        padding: 95px 0 250px 0;
        background: url(../images/main/tree_m_bg.png) no-repeat center bottom 25px;
    }
    .tree .tit {
        width: auto;
    }
    .tree .num {
        justify-content: center;
    }
    .tree .num strong {
        font-size: 60px;
    }
    .tree .num .plus {
        font-size: 30px;
    }
    .tree h2 {
        font-size: 20px;
        text-align: center;
    }
    .tree p {
        margin: 0;
    }
}

.biz {
    background: url(../images/main/biz_bg.png) no-repeat center center / cover; 
    color: #fff;
}
.biz .wrapper {
    padding: 80px 0 30px 0;
}
.biz .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.biz .tit {
    width: 40%;
    margin-right: 30px;
}
.biz .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.biz .list {
    width: 50%;
    min-width: 500px;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.biz .list ul li {
    width: calc(50% - 14px);
    background-color: #fff;
    color: #1d1d1d;
    height: calc(25vh);
    border-radius: 20px;
    margin-bottom: 28px;
    transition: 0.5s;
    overflow: hidden;
}
.biz .list ul li:nth-child(odd) { /* 홀수 */
    transform: translate(0, 30px);
}
.biz .list ul li:hover {
    color: #FFF;
}
.biz .list ul li a {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 0 8% 10%;
    font-size: 35px;
    font-weight: 700;
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li.biz01 a::before {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz02 a::before {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz03 a::before {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz04 a::before {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li.biz05 a::before {
    background-image: url(../images/main/biz05.png);
}
.biz .list ul li.biz06 a::before {
    background-image: url(../images/main/biz06.png);
}
.biz .list ul li a:hover::before {
    opacity: 1;
}
.biz .list ul li a span {
    position: relative; /* before와 after */
    display: block;
    width: 100%;
}
.biz .list ul li a::after {
    position: absolute;
    left: 10%;
    bottom: 40%;
    width: 80%;
    height: 40%;
    content: "";
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
}
.biz .list ul li.biz01 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='89' height='88' viewBox='0 0 89 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2073)'%3E%3Cpath d='M87.0677 84.1993H83.3643V65.6346C86.6286 64.7575 88.9854 61.9801 88.9854 58.6179C88.9854 54.5249 85.721 51.309 81.5784 51.309C77.4358 51.309 74.1715 54.5249 74.1715 58.6179C74.1715 61.9801 76.5429 64.9037 79.7926 65.6346V84.1993H70.3217V18.4186H75.9428C76.9821 18.4186 77.875 17.5415 77.875 16.5183V1.90033C77.875 0.877076 76.9821 0 75.9428 0H13.028C11.9886 0 11.0957 0.877076 11.0957 1.90033V16.5183C11.0957 17.5415 11.9886 18.4186 13.028 18.4186H18.5026V84.1993H9.17811V65.6346C12.4424 64.7575 14.7992 61.9801 14.7992 58.6179C14.7992 54.5249 11.5349 51.309 7.39226 51.309C3.24966 51.309 -0.0146484 54.5249 -0.0146484 58.6179C-0.0146484 61.9801 2.35673 64.9037 5.6064 65.6346V84.1993H1.93223C0.892917 84.1993 -1.02799e-05 85.0764 -1.02799e-05 86.0997C-1.02799e-05 87.1229 0.892917 88 1.93223 88H87.0824C88.1217 88 89.0146 87.1229 89.0146 86.0997C88.8682 85.0764 87.9753 84.1993 87.0824 84.1993H87.0677ZM77.7432 58.6179C77.7432 56.5714 79.3681 54.9635 81.4467 54.9635C83.5253 54.9635 85.1501 56.5714 85.1501 58.6179C85.1501 60.6644 83.5253 62.2724 81.4467 62.2724C79.3681 62.2724 77.7432 60.6644 77.7432 58.6179ZM3.70344 58.6179C3.70344 56.5714 5.32828 54.9635 7.4069 54.9635C9.48552 54.9635 11.1104 56.5714 11.1104 58.6179C11.1104 60.6644 9.48552 62.2724 7.4069 62.2724C5.32828 62.2724 3.70344 60.6644 3.70344 58.6179ZM14.8138 3.80066H74.0398V14.7641H14.8138V3.80066ZM22.2061 84.1993V18.4186H66.6329V84.1993H22.2061Z' fill='%232AC49E'/%3E%3Cpath d='M37.0198 27.6279H29.6129C28.5736 27.6279 27.6807 28.505 27.6807 29.5283V36.8372C27.6807 37.8605 28.5736 38.7376 29.6129 38.7376H37.0198C38.0591 38.7376 38.952 37.8605 38.952 36.8372V29.5283C38.952 28.3588 38.0591 27.6279 37.0198 27.6279ZM35.2486 34.9369H31.5451V31.2824H35.2486V34.9369Z' fill='%232AC49E'/%3E%3Cpath d='M59.2259 27.6279H51.819C50.7796 27.6279 49.8867 28.505 49.8867 29.5283V36.8372C49.8867 37.8605 50.7796 38.7376 51.819 38.7376H59.2259C60.2652 38.7376 61.1581 37.8605 61.1581 36.8372V29.5283C61.1581 28.3588 60.2652 27.6279 59.2259 27.6279ZM57.4546 34.9369H53.7512V31.2824H57.4546V34.9369Z' fill='%232AC49E'/%3E%3Cpath d='M37.0198 44H29.6129C28.5736 44 27.6807 44.8771 27.6807 45.9003V53.2093C27.6807 54.2326 28.5736 55.1096 29.6129 55.1096H37.0198C38.0591 55.1096 38.952 54.2326 38.952 53.2093V45.9003C38.952 44.8771 38.0591 44 37.0198 44ZM35.2486 51.309H31.5451V47.6545H35.2486V51.309Z' fill='%232AC49E'/%3E%3Cpath d='M59.2259 44H51.819C50.7796 44 49.8867 44.8771 49.8867 45.9003V53.2093C49.8867 54.2326 50.7796 55.1096 51.819 55.1096H59.2259C60.2652 55.1096 61.1581 54.2326 61.1581 53.2093V45.9003C61.1581 44.8771 60.2652 44 59.2259 44ZM57.4546 51.309H53.7512V47.6545H57.4546V51.309Z' fill='%232AC49E'/%3E%3Cpath d='M37.0198 60.5181H29.6129C28.5736 60.5181 27.6807 61.3951 27.6807 62.4184V69.7274C27.6807 70.7506 28.5736 71.6277 29.6129 71.6277H37.0198C38.0591 71.6277 38.952 70.7506 38.952 69.7274V62.4184C38.952 61.249 38.0591 60.5181 37.0198 60.5181ZM35.2486 67.827H31.5451V64.1726H35.2486V67.827Z' fill='%232AC49E'/%3E%3Cpath d='M59.2259 60.5181H51.819C50.7796 60.5181 49.8867 61.3951 49.8867 62.4184V69.7274C49.8867 70.7506 50.7796 71.6277 51.819 71.6277H59.2259C60.2652 71.6277 61.1581 70.7506 61.1581 69.7274V62.4184C61.1581 61.249 60.2652 60.5181 59.2259 60.5181ZM57.4546 67.827H53.7512V64.1726H57.4546V67.827Z' fill='%232AC49E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2073'%3E%3Crect width='89' height='88' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz02 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='93' height='93' viewBox='0 0 93 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2124)'%3E%3Cpath d='M90.9893 0H2.01073C0.920944 0 0 0.919427 0 2.00741V75.393C0 76.481 0.920944 77.4004 2.01073 77.4004H36.8224V88.9852H32.9544C31.8647 88.9852 30.9437 89.9046 30.9437 90.9926C30.9437 92.0806 31.8647 93 32.9544 93H56.1622C57.252 93 58.173 92.0653 58.173 90.9926C58.173 89.9199 57.252 88.9852 56.1622 88.9852H52.2943V77.4004H90.9893C92.0791 77.4004 93 76.481 93 75.393V2.00741C92.8465 0.919427 92.0791 0 90.9893 0ZM48.4417 88.8319H40.7057V77.2472H48.4417V88.8319ZM88.9785 73.3856H3.86796V65.6624H79.2319C80.3217 65.6624 81.2426 64.7276 81.2426 63.655C81.2426 62.5823 80.3217 61.6476 79.2319 61.6476H3.86796V3.86159H88.9785V73.3856Z' fill='%232AC49E'/%3E%3Cpath d='M19.3396 56.0852H50.2833C51.3731 56.0852 52.2941 55.1504 52.2941 54.0778C52.2941 19.9364 52.4476 23.0165 51.9871 22.0971C43.4683 9.42429 44.2512 10.359 43.7907 10.0526C43.4837 9.89933 43.3302 9.74609 42.8697 9.74609C42.5628 9.74609 44.113 9.74609 19.355 9.74609C18.2652 9.74609 17.3442 10.6808 17.3442 11.7535V54.2463C17.4977 55.1658 18.2652 56.1005 19.355 56.1005L19.3396 56.0852ZM44.5735 18.0822L46.7377 21.3309H44.5735V18.0822ZM21.3503 13.5924H40.6902V23.323C40.6902 24.4109 41.6111 25.3304 42.7009 25.3304H48.5796V52.3615H21.3503V13.5924Z' fill='%232AC49E'/%3E%3Cpath d='M40.7059 29.0386H27.0913C26.0015 29.0386 25.0806 29.958 25.0806 31.046C25.0806 32.134 26.0169 33.0534 27.0913 33.0534H40.7059C41.7957 33.0534 42.7166 32.134 42.7166 31.046C42.7166 29.958 41.7957 29.0386 40.7059 29.0386Z' fill='%232AC49E'/%3E%3Cpath d='M40.7059 36.7769H27.0913C26.0015 36.7769 25.0806 37.6963 25.0806 38.7843C25.0806 39.8723 26.0169 40.7917 27.0913 40.7917H40.7059C41.7957 40.7917 42.7166 39.8723 42.7166 38.7843C42.7166 37.6963 41.7957 36.7769 40.7059 36.7769Z' fill='%232AC49E'/%3E%3Cpath d='M40.7059 44.5005H27.0913C26.0015 44.5005 25.0806 45.4199 25.0806 46.5079C25.0806 47.5959 26.0169 48.5153 27.0913 48.5153H40.7059C41.7957 48.5153 42.7166 47.5959 42.7166 46.5079C42.7166 45.4199 41.7957 44.5005 40.7059 44.5005Z' fill='%232AC49E'/%3E%3Cpath d='M61.9028 56.0853H81.2426C82.3324 56.0853 83.2534 55.1505 83.2534 54.0778V30.9083C83.2534 29.8203 82.3324 28.9009 81.2426 28.9009H61.9028C60.813 28.9009 59.8921 29.8203 59.8921 30.9083V54.0778C60.0456 55.1658 60.813 56.0853 61.9028 56.0853ZM63.9135 32.9157H79.3854V52.2237H63.9135V32.9157Z' fill='%232AC49E'/%3E%3Cpath d='M75.5175 38.631H73.5068V36.6236C73.5068 35.5356 72.5705 34.6162 71.4961 34.6162C70.4216 34.6162 69.4853 35.5356 69.4853 36.6236V38.631H67.4746C66.3848 38.631 65.4639 39.5505 65.4639 40.6385C65.4639 41.7264 66.3848 42.6459 67.4746 42.6459H75.2105C76.3003 42.6459 77.2213 41.7111 77.2213 40.6385C77.3747 39.5505 76.6073 38.631 75.5175 38.631Z' fill='%232AC49E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2124'%3E%3Crect width='93' height='93' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz03 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='89' height='84' viewBox='0 0 89 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2086)'%3E%3Cpath d='M87.0646 61.0185H74.0298V45.4156C74.0298 44.9977 73.8832 44.4404 73.4433 44.1618L46.3475 20.437V15.8815H66.64C67.6811 15.8815 68.5608 15.0457 68.5608 14.0705V1.81105C68.5608 0.83587 67.6664 0 66.64 0H44.4267C43.3857 0 42.5059 0.83587 42.5059 1.81105V20.2977L15.2488 44.1618C14.8089 44.4404 14.6623 44.9977 14.6623 45.4156V61.0185H1.92076C0.879736 61.0185 0 61.8544 0 62.8296V81.9153C0 82.8905 0.894399 83.7263 1.92076 83.7263H87.0646C87.959 83.7263 88.8387 82.8905 88.9853 82.0546V62.8296C88.9853 61.8544 88.0909 61.0185 87.0646 61.0185ZM46.3475 3.6221H64.8512V12.3987H46.3475V3.6221ZM44.4267 23.4044L70.3349 46.1122V80.1042H55.6727V62.8296C55.6727 61.8544 54.7783 61.0185 53.7519 61.0185H33.3127C32.2717 61.0185 31.3919 61.8544 31.3919 62.8296V80.1042H18.6504V62.8296C18.6504 62.5928 18.5918 62.3699 18.5038 62.1609V46.1122L44.412 23.4044H44.4267ZM3.69489 64.6406H14.7942V80.2436H3.69489V64.6406ZM35.2481 64.6406H51.9778V80.2436H35.2481V64.6406ZM85.1438 80.2436H74.0445V64.6406H85.1438V80.2436Z' fill='%232AC49E'/%3E%3Cpath d='M45.3065 55.8642C50.9368 55.8642 55.5261 51.5455 55.5261 46.2517C55.5261 40.9578 50.9368 36.6392 45.3065 36.6392C39.6762 36.6392 35.0869 40.9578 35.0869 46.2517C35.0869 51.5455 39.6762 55.8642 45.3065 55.8642ZM45.3065 40.2613C48.8548 40.2613 51.8166 43.0475 51.8166 46.391C51.8166 49.7345 48.8548 52.5207 45.3065 52.5207C41.7582 52.5207 38.7965 49.7345 38.7965 46.391C38.7965 43.0475 41.7582 40.2613 45.3065 40.2613Z' fill='%232AC49E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2086'%3E%3Crect width='89' height='83.7263' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz04 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='93' height='93' viewBox='0 0 93 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2120)'%3E%3Cpath d='M90.9883 88.97H75.5141V38.6415C85.2474 37.634 92.8453 29.388 92.8453 19.375C92.8453 8.68 84.1797 0 73.5025 0C62.8253 0 54.1597 8.68 54.1597 19.375C54.1597 29.388 61.7576 37.634 71.4909 38.6415V88.97H21.3544V38.6415C31.0877 37.634 38.6855 29.388 38.6855 19.375C38.6855 8.68 30.02 0 19.3428 0C8.66556 0 0 8.68 0 19.375C0 29.388 7.59784 37.634 17.3311 38.6415V88.97H2.01165C0.928453 88.97 0 89.9 0 90.985C0 92.07 0.928453 93 2.01165 93H90.9883C91.9168 93 92.8453 92.07 93 90.985C93 89.9 92.0715 88.97 90.9883 88.97ZM58.0283 19.375C58.0283 10.85 64.9917 3.875 73.5025 3.875C82.0133 3.875 88.9767 10.85 88.9767 19.375C88.9767 27.218 83.081 33.728 75.5141 34.72V26.04L80.4659 22.785C81.2396 22.32 81.5491 21.08 80.9301 20.15C80.4659 19.375 79.228 19.065 78.2995 19.685L75.5141 21.514V13.64C75.5141 12.555 74.5857 11.625 73.5025 11.625C72.4193 11.625 71.4909 12.555 71.4909 13.64V17.794L68.7055 15.965C67.9318 15.345 66.6938 15.5 66.0749 16.43C65.4559 17.205 65.6106 18.445 66.5391 19.065L71.4909 22.32V34.72C63.924 33.728 58.0283 27.2025 58.0283 19.375ZM3.86855 19.375C3.86855 10.85 10.8319 3.875 19.3428 3.875C27.8536 3.875 34.817 10.85 34.817 19.375C34.817 27.218 28.9213 33.728 21.3544 34.72V26.04L26.3062 22.785C27.0799 22.32 27.3894 21.08 26.7704 20.15C26.3062 19.375 25.0682 19.065 24.1398 19.685L21.3544 21.514V13.64C21.3544 12.555 20.426 11.625 19.3428 11.625C18.2596 11.625 17.3311 12.555 17.3311 13.64V17.794L14.5458 15.965C13.772 15.345 12.5341 15.5 11.9151 16.43C11.2962 17.205 11.4509 18.445 12.3794 19.065L17.3311 22.32V34.72C9.76423 33.728 3.86855 27.2025 3.86855 19.375Z' fill='%232AC49E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2120'%3E%3Crect width='93' height='93' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz05 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='89' height='88' viewBox='0 0 89 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2022)'%3E%3Cpath d='M87.0779 87.9999H74.0679C73.033 87.9999 72.146 87.1184 72.146 86.09C72.146 85.0616 73.033 84.1802 74.0679 84.1802H87.0779C88.1128 84.1802 88.9998 85.0616 88.9998 86.09C88.852 87.1184 87.9649 87.9999 87.0779 87.9999Z' fill='%232AC49E'/%3E%3Cpath d='M62.9802 87.9999H26.0201C24.9852 87.9999 24.0981 87.1184 24.0981 86.09C24.0981 85.0616 24.9852 84.1802 26.0201 84.1802H62.9802C64.0151 84.1802 64.9021 85.0616 64.9021 86.09C64.9021 87.1184 64.0151 87.9999 62.9802 87.9999Z' fill='%232AC49E'/%3E%3Cpath d='M14.9319 87.9999H1.92193C0.887043 87.9999 0 87.1184 0 86.09C0 85.0616 0.887043 84.1802 1.92193 84.1802H14.9319C15.9668 84.1802 16.8538 85.0616 16.8538 86.09C16.8538 87.1184 15.9668 87.9999 14.9319 87.9999Z' fill='%232AC49E'/%3E%3Cpath d='M39.0297 71.546H26.0197C24.9849 71.546 24.0978 70.6645 24.0978 69.6361C24.0978 68.6077 24.9849 67.7263 26.0197 67.7263H35.6294L29.2722 57.7363C28.9766 57.1486 28.8287 56.4141 29.2722 55.8264C29.5679 55.2388 30.1593 54.945 30.8985 54.945H34.0031L28.2374 44.8081C27.9417 44.2204 27.9417 43.4859 28.2374 43.0451C28.533 42.4575 29.1244 42.1637 29.8636 42.1637H30.6028L26.0197 31.8799C25.7241 31.2922 25.8719 30.7046 26.1676 30.1169C26.4633 29.5293 27.0546 29.2355 27.646 29.2355H30.455L20.4018 6.31726L10.3486 29.2355H13.1576C13.749 29.2355 14.3403 29.5293 14.636 30.1169C14.9317 30.7046 15.0795 31.2922 14.7839 31.8799L10.2008 42.1637H10.94C11.5314 42.1637 12.2706 42.4575 12.5663 43.0451C12.8619 43.6328 12.8619 44.3673 12.5663 44.8081L6.94831 54.945H10.053C10.7922 54.945 11.3835 55.2388 11.6792 55.8264C11.9749 56.4141 11.9749 57.1486 11.6792 57.7363L5.32207 67.8732H14.9317C15.9666 67.8732 16.8536 68.7547 16.8536 69.783C16.8536 70.8114 15.9666 71.6929 14.9317 71.6929H1.92174C1.18253 71.6929 0.591172 71.3991 0.295491 70.8114C-0.000189789 70.2238 -0.000189789 69.4892 0.295491 68.9016L6.65263 58.9116H3.69582C3.10446 58.9116 2.36526 58.6178 2.06958 58.0301C1.7739 57.4425 1.7739 56.7079 2.06958 56.2672L7.83536 46.1303H7.39184C6.80047 46.1303 6.20911 45.8365 5.91343 45.2488C5.61775 44.6612 5.46991 44.0735 5.76559 43.4859L10.3486 33.2021H7.53968C6.94831 33.2021 6.35695 32.9082 6.06127 32.3206C5.76559 31.7329 5.61775 31.1453 5.91343 30.5577L18.7756 1.17535C19.0712 0.440796 19.6626 0.146973 20.4018 0.146973C21.141 0.146973 21.7324 0.587707 22.028 1.17535L35.038 30.5577C35.3337 31.1453 35.1859 31.7329 34.8902 32.3206C34.5945 32.9082 34.0031 33.2021 33.4118 33.2021H30.6028L35.1859 43.4859C35.4815 44.0735 35.3337 44.6612 35.038 45.2488C34.7423 45.8365 34.151 46.1303 33.5596 46.1303H33.1161L38.8819 56.2672C39.1775 56.8548 39.1775 57.5894 38.8819 58.0301C38.5862 58.6178 37.9948 58.9116 37.2556 58.9116H34.2988L40.656 68.9016C40.9516 69.4892 41.0995 70.2238 40.656 70.8114C40.2124 71.1052 39.6211 71.546 39.0297 71.546Z' fill='%232AC49E'/%3E%3Cpath d='M26.0197 87.9999H14.9317C13.8968 87.9999 13.0098 87.1184 13.0098 86.09V69.6359C13.0098 68.6075 13.8968 67.7261 14.9317 67.7261H26.0197C27.0546 67.7261 27.9417 68.6075 27.9417 69.6359V86.2369C27.9417 87.1184 27.0546 87.9999 26.0197 87.9999ZM16.8536 84.3271H24.2456V71.3989H16.8536V84.3271Z' fill='%232AC49E'/%3E%3Cpath d='M87.078 71.5459H74.0681C73.0332 71.5459 72.1462 70.6644 72.1462 69.6361C72.1462 68.6077 73.0332 67.7262 74.0681 67.7262H83.6777L77.3206 57.7362C77.0249 57.1486 76.877 56.414 77.3206 55.8264C77.6163 55.2387 78.2076 54.9449 78.9468 54.9449H82.0515L76.2857 44.808C75.99 44.2204 75.99 43.4858 76.2857 43.0451C76.5814 42.4574 77.1727 42.1636 77.9119 42.1636H78.6511L74.0681 31.8798C73.7724 31.2922 73.9202 30.7045 74.2159 30.1169C74.5116 29.5292 75.103 29.2354 75.6943 29.2354H78.5033L68.4501 6.3172L58.397 29.2354H61.206C61.7973 29.2354 62.3887 29.5292 62.6844 30.1169C62.98 30.7045 63.1279 31.2922 62.8322 31.8798L58.2491 42.1636H58.9883C59.5797 42.1636 60.3189 42.4574 60.6146 43.0451C60.9103 43.6327 60.9103 44.3673 60.6146 44.808L54.9967 54.9449H58.1013C58.8405 54.9449 59.4319 55.2387 59.7276 55.8264C60.0232 56.414 60.0232 57.1486 59.7276 57.7362L53.3704 67.7262H62.98C64.0149 67.7262 64.902 68.6077 64.902 69.6361C64.902 70.6644 64.0149 71.5459 62.98 71.5459H49.9701C49.2309 71.5459 48.6395 71.2521 48.3438 70.6644C48.0482 70.0768 48.0482 69.3422 48.3438 68.7546L54.701 58.7646H51.7442C51.1528 58.7646 50.4136 58.4708 50.1179 57.8831C49.8222 57.2955 49.8222 56.5609 50.1179 56.1202L55.8837 45.9833H55.588C54.9967 45.9833 54.4053 45.6895 54.1096 45.1018C53.8139 44.5142 53.6661 43.9265 53.9618 43.3389L58.5448 33.0551H55.588C54.9967 33.0551 54.4053 32.7613 54.1096 32.1736C53.8139 31.586 53.6661 30.9983 53.9618 30.4107L66.8239 1.02838C67.1196 0.293823 67.7109 0 68.4501 0C69.1893 0 69.7807 0.440735 70.0764 1.02838L83.0864 30.4107C83.382 30.9983 83.2342 31.586 82.9385 32.1736C82.6428 32.7613 82.0515 33.0551 81.4601 33.0551H78.6511L83.2342 43.3389C83.5299 43.9265 83.382 44.5142 83.0864 45.1018C82.7907 45.6895 82.1993 45.9833 81.6079 45.9833H81.1644L86.9302 56.1202C87.2259 56.7078 87.2259 57.4424 86.9302 57.8831C86.6345 58.4708 86.0432 58.7646 85.304 58.7646H82.3472L88.7043 68.7546C89 69.3422 89.1478 70.0768 88.7043 70.6644C88.2608 71.1052 87.6694 71.5459 87.078 71.5459Z' fill='%232AC49E'/%3E%3Cpath d='M74.0681 87.9999H62.98C61.9451 87.9999 61.0581 87.1184 61.0581 86.09V69.6359C61.0581 68.6075 61.9451 67.7261 62.98 67.7261H74.0681C75.103 67.7261 75.99 68.6075 75.99 69.6359V86.2369C75.99 87.1184 75.103 87.9999 74.0681 87.9999ZM64.902 84.3271H72.294V71.3989H64.902V84.3271Z' fill='%232AC49E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2022'%3E%3Crect width='89' height='88' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz06 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='83' height='83' viewBox='0 0 83 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2115)'%3E%3Cpath d='M81.2047 79.2712H48.3361V65.599H63.9418C64.4942 65.599 65.0466 65.3228 65.3228 64.6323C65.599 64.0799 65.599 63.3894 65.3228 62.8369L52.7278 41.431H63.9418C64.4942 41.431 65.0466 41.1547 65.599 40.6023C65.8752 40.0499 65.8752 39.3594 65.599 38.807L43.0882 0.828619C42.812 0.276206 42.1215 0 41.5691 0C40.8785 0 40.3261 0.276206 40.0499 0.828619L17.5391 38.807C17.2629 39.3594 17.2629 40.0499 17.5391 40.6023C17.8153 41.1547 18.5058 41.431 19.0582 41.431H30.217L17.5391 62.975C17.2629 63.5275 17.2629 64.218 17.5391 64.7704C17.8153 65.3228 18.5058 65.599 19.0582 65.599H34.3877V79.2712H1.79534C0.828619 79.2712 0 80.0998 0 81.0666C0 82.0333 0.828619 82.8619 1.79534 82.8619H35.5201C35.7273 82.9448 35.9483 83 36.183 83C36.4178 83 36.6388 82.9448 36.8459 82.8619H81.2047C82.0333 82.8619 82.8619 82.0333 83 81.0666C83 80.0998 82.1714 79.2712 81.2047 79.2712ZM41.431 5.10982L60.7654 37.9784H50.2972C49.9243 37.8265 49.4962 37.8265 49.0957 37.9784H21.9584L41.431 5.10982ZM34.1805 41.431H48.778L60.9173 62.0083H46.6927C46.4579 62.0083 46.2369 62.0636 46.0436 62.1464H21.9584L34.1805 41.431ZM37.9784 65.599H44.8835V79.2712H37.9784V65.599Z' fill='%232AC49E'/%3E%3Cpath d='M69.0516 27.6208C71.9518 27.6208 74.2995 25.2731 74.2995 22.3729C74.2995 19.4728 71.9518 17.125 69.0516 17.125C66.1515 17.125 63.8037 19.4728 63.8037 22.3729C63.8037 25.2731 66.1515 27.6208 69.0516 27.6208ZM69.0516 20.7157C70.0184 20.7157 70.847 21.5443 70.847 22.511C70.847 23.4777 70.0184 24.3064 69.0516 24.3064C68.0849 24.3064 67.2563 23.4777 67.2563 22.511C67.2563 21.5443 68.0849 20.7157 69.0516 20.7157Z' fill='%232AC49E'/%3E%3Cpath d='M10.3578 20.7156C13.2579 20.7156 15.6057 18.506 15.6057 15.6058C15.6057 12.7057 13.2579 10.3579 10.3578 10.3579C7.45762 10.3579 5.10986 12.5676 5.10986 15.4677C5.10986 18.3679 7.45762 20.7156 10.3578 20.7156ZM10.3578 13.8105C11.3245 13.8105 12.1531 14.6391 12.1531 15.6058C12.1531 16.5726 11.3245 17.4012 10.3578 17.4012C9.39106 17.4012 8.56244 16.5726 8.56244 15.6058C8.56244 14.6391 9.39106 13.8105 10.3578 13.8105Z' fill='%232AC49E'/%3E%3Cpath d='M10.3578 57.0364C13.2579 57.0364 15.6057 54.6886 15.6057 51.7884C15.6057 48.8883 13.2579 46.5405 10.3578 46.5405C7.45762 46.5405 5.10986 48.8883 5.10986 51.7884C5.10986 54.6886 7.45762 57.0364 10.3578 57.0364ZM10.3578 50.1312C11.3245 50.1312 12.1531 50.9598 12.1531 51.9265C12.1531 52.8933 11.3245 53.7219 10.3578 53.7219C9.39106 53.7219 8.56244 52.8933 8.56244 51.9265C8.56244 50.9598 9.39106 50.1312 10.3578 50.1312Z' fill='%232AC49E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2115'%3E%3Crect width='83' height='83' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li a span::after {
    position: absolute;
    right: 7%;
    bottom: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2AC49E;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1715 12.0007L8.22168 7.05093L9.6359 5.63672L15.9999 12.0007L9.6359 18.3646L8.22168 16.9504L13.1715 12.0007Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (max-width:1320px){
    .biz .list ul li a {
        font-size: 30px;
    }
    .biz .tit h2 {
        font-size: 45px;
    }
}
@media screen and (max-width:1024px){
    .biz .tit h2 {
        font-size: 35px;
    }
}
@media screen and (max-width:768px){
    .biz {
        height: auto !important;
        min-height: auto !important;
    }
    .biz .inner {
        display: block;
    }
    .biz .tit {
        width: auto;
    }
    .biz .tit h2 {
        font-size: 30px;
    }
    .biz .list {
        width: auto;
        min-width: auto;
        margin: 20px 0 0 0;
    }
    .biz .list ul li:nth-child(odd) {
        transform: translate(0);
    }
    .biz .list ul li {
        height: 77px;
    }
    .biz .list ul li a {
        font-size: 17px;
    }
}
.news .wrapper {
    position: relative; /* all_view 정렬의 기준 */
}
.news h2 {
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 30px;
}
.news ul li a {
    border-top: 1px solid #3D3D3D;
    display: block;
}
.news ul li a strong,
.news ul li a span {
    display: block;
}
.news ul li a .cate {
    background-color: #2AC49E;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}
.news ul li a .subject {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    /* 2줄제한 */
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
    margin: 17px 0 19px 0;
}
.news ul li a .date {
    margin: 0 0 17px 0;
}
.news ul li a .memo {
    display: none;
    line-height: 1.2;
    height: 3.6em;
    overflow: hidden;
}
.news ul li a .more {
    display: none;
    width: 119px;
    margin: 17px auto 0 auto;
    padding: 9px 0;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
}
.news ul li a .photo {
    height: 150px;
}
.news ul li a .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 오버스타일 */
.news .swiper-slide {
    height: auto;
}
.news ul li a:hover {
    background-color: #2AC49E;
    color: #fff;
    border-top: 0;
    height: 100%;
    padding: 35px 10% 0 10%;
}
.news ul li a:hover .cate {
    padding: 0;
    text-decoration: underline;
}
.news ul li a:hover .subject {
    color: #fff;
}
.news ul li a:hover .photo {
    display: none;
}
.news ul li a:hover .memo {
    display: block;
}
.news ul li a:hover .more {
    display: block;
}
.news .all_view {
    position: absolute;
    right: 0;
    top: 0;
}
.news .all_view a {
    display: block;
    padding: 9px 35px;
    border: 1px solid #3D3D3D;
    border-radius: 30px;
}
.news .all_view a:hover {
    background-color: #2AC49E;
    border-color: #2AC49E;
    color: #fff;
}
@media screen and (max-width:768px){
    .news {
        height: auto !important;
        min-height: auto !important;
        margin: 97px 0 70px 0;
    }
    .news ul li {
        width: 250px;
    }
    .news .all_view {
        position: relative;
        right: auto;
        top: auto;
        margin: 20px 0 0 0;
        text-align: center;
    }
    .news .all_view a {
        display: inline-block;
    }

}


/******************************** 
    page에서 자동생성한 pagenation 
    #fp-nav.fp-left 동일한 선택자 두개가 존재할때
    꼭 내꺼를 먼저 적용되게 하기 위해서 
    앞에 body를 추가함 
    body라는 상위요소부터 선택자를 입력한 스타일이 먼저 적용됨
**************************************/

body #fp-nav.fp-left {
    left: 40px;
}
body #fp-nav::before {
    position: absolute;
    left: 14px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    content: "";
}
body #fp-nav ul li .fp-tooltip {
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    font-family: inherit; /* 상속 */
    opacity: 1;
    width: auto;
}
body #fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 5px;
    width: 5px;
    background: rgba(255,255,255,0.5);
}
body #fp-nav ul li a.active span, 
body .fp-slidesNav ul li a.active span, 
body #fp-nav ul li:hover a.active span, 
body .fp-slidesNav ul li:hover a.active span {
    height: 5px;
    width: 5px;
    margin: -2px 0 0 -2px;
    background-color: #fff;
}
body #fp-nav ul li:last-child { /* footer 동그라미 삭제 */
    display: none;
}
body #fp-nav ul li, body .fp-slidesNav ul li {
    margin: 20px 7px;
}
body #fp-nav ul li:hover .fp-tooltip, body #fp-nav.fp-show-active a.active + .fp-tooltip {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
}
body #fp-nav ul li:hover a span, body .fp-slidesNav ul li:hover a span {
    width: 5px;
    height: 5px;
    margin: -2px 0 0 -2px;
}

/* 검은색일때 */
body #fp-nav[data-color='black']::before {
    background-color: #EDEDED;
}
body #fp-nav[data-color='black'] ul li .fp-tooltip {
    color: #666666;
}
body #fp-nav[data-color='black'] ul li a span, .fp-slidesNav ul li a span {
    background: #ccc;
}
body #fp-nav[data-color='black'] ul li a.active span, 
body .fp-slidesNav ul li a.active span, 
body #fp-nav[data-color='black'] ul li:hover a.active span, 
body .fp-slidesNav ul li:hover a.active span {
    background-color: #1D1D1D;
}
body #fp-nav[data-color='black'] ul li:hover .fp-tooltip, 
body #fp-nav[data-color='black'].fp-show-active a.active + .fp-tooltip {
    color: #1D1D1D;
}
@media screen and (max-width:1600px){
    body #fp-nav.fp-left {
        left: 0;
    }
}
@media screen and (max-width:1024px){
    body #fp-nav.fp-left {
        display: none !important;
    }
}