@charset "utf-8"; /* 이css문서는 UTF-8방식으로 인코딩 되어 있습니다. */
@import url(default.css);
/* 본고딕 CND방식으로 사용할때 폰트를 정의하는 font-face가 입력된 css를 import 불러다가 
   사용하는 방식을 많이 씀 
   이 방식은 간단하지만 문제가 google이 서비스를 중단하면 사용 못함. 
   font 파일을 저장해서 사용하는 방식을 씀 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif; /* 서체 */
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
       가로스크롤바가 생성되는데 오른쪽에 background가 
       짤리는 현상이 생김.  
       가로스크롤바가 생성되었을때도 홈페이지를 정상적으로 
       서비스 하기 위해서 최소 넓이를 입력 */
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭  */
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
    .wrapper { 
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨 
           디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에 
           그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
        margin: 0 20px;  
    }
    #wrap { 
        min-width: auto;  /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}/*media*/

.header {
    /* body를 기준으로 정렬 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; 
    /* header를 맨 위에 배치하기위해 
      - 다른 요소에 가려서 안보일까봐 */
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.header .logo {
    float: left;
    margin-top: 25px;
}
.header .logo a {
    width: 146px;
    height: 48px;
    display: block;
    /* 배경의 로고크기는 pc/mobile에서 사이즈가 다름 
    물론 background-size를 width와 높이값으로 수정 가능
    하지만 a태그에 준 넓이와 높이값에 맞게 background-size 자동으로
    조절되었으면 함. 
    contain - 이미지를 짜르지 않고 영역에 딱 맞게 조절 
    100% auto - 가로는 영역 딱맞게 세로는 가로비율에 맞게*/
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* a태그에 써준 글자를 안보이게 하는 방법 */
    font-size: 0;
    line-height: 0;
}
.header .inner {
    float: right;
    display: flex;
    align-items: center;
    /* display:flex는 좌우로 배치된 요소의 높이를
      제일 긴 사이즈와 동일하게 모든 높이를 맞춤 
      이를 원래 요소별 높이로 주고 싶으면 align-items를 줘야함 */
}
/* 모바일에서 사용할 메뉴 열기 버튼 
 - pc 버전에서는 숨김 처리  */
.header .gnb .gnb_open {
    display: none;
    /* 태그를 지운것처럼 공간을 차지하지 않음 */
}
.header .gnb ul {
    display: flex;
}
.header .gnb ul li a {
    font-size: 22px;
    font-weight: 700;
    padding: 34px 25px;
    display: block;
}
.header .login {
    width: 31px;
    height: 31px;
    background: url(../images/login_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
    margin: 0 14px 0 35px;
}
.header .lang {
    width: 31px;
    height: 31px;
    background: url(../images/lang_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
}
/* header가 스크롤이 되면 jquery에서 header에 fixed라는 클래스를 
추가할 예정. 그때의 스타일 */
.header.fixed {
    color: #1D1D1D;
    border-bottom: 0;
    background-color: #fff;
}
.header.fixed .logo a {
    background: url(../images/logo.svg) no-repeat center center / contain;
}
.header.fixed .login {
    background: url(../images/login.svg) no-repeat center center;
}
.header.fixed .lang {
    background: url(../images/lang.svg) no-repeat center center;
}
@media screen and (max-width:640px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin-top: 10px;
    }
    .header .logo a {
        width: 82px;
        height: 27px;
    }
    /* 모바일에서 사용할 메뉴 열기 버튼 
     - pc 버전에서는 숨김 처리 - 모바일에서는 보이도록
     display:none;으로 숨긴 요소는 display에 none를 제외하고 무엇을 주던지 나타남  */
    .header .gnb .gnb_open {
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/gnb_open_w.svg) no-repeat center center;
        font-size: 0;
        line-height: 0;
        margin-top: 16px;
    }
    .header .gnb ul {
        display: none; 
        /* 모바일에서 메뉴는 메뉴 열기 버튼을 클릭해 나타남 */
    }
    .header .login {
        display: none;
    }
    .header .lang {
        display: none;
    }
    .header.fixed .gnb .gnb_open {
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
}/* media */

.visual {
    /* background  사이즈 조절 
     cover는 영역에 이미지가 꽉차게 - 이미지 일부가 짤리고 배경은 꽉참 - 배경에 이미지
     contain 영역에 이미지가 꽉차게 - 이미지는 안짤리고 배경이 일부가 빔 - 배경에 로고가 들어간 경우  */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    /* 내부에 콘텐츠가 짤리지 않을 정도의 최소 높이값을 줘야함 */
    text-align: center;
}
.visual .inner {
    display: flex;
    flex-direction: column; /* 세로배치 */
    justify-content: center; /* 세로에서 가운데 */
    height: 100vh; /* 브라우저 높이와 동일한 높이 */
    min-height: 600px;
}
/* visual의 높이가 브라우저의 높이에 따라서 바뀜
    그래서 h2태그가 위에서 부터의 여백이 그때그때 달라짐 
    --> 고정값으로 줄 수가 없음 
    사이즈가 변경될때 가운데는 바뀌지 않음...
    h2태그는 원래 디자인 자체가 visual영역에 위아래 가운데 디자인
    코딩도 위아래 가운데에서 부터 시작해서 여백을 줘야함 */
.visual h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 100px;
}
.visual p {
    margin-top: 27px;
    font-size: 20px;
}
@media screen and (max-width:640px){
    .visual .inner {
        height: 300px;
        min-height: auto; /* 높이값을 줬다가 취소하는 것은 auto */
    }
    .visual h2 {
        font-size: 30px;
        margin-top: 0;
    }
    .visual p {
        display: none; 
    }
}/*media*/

.service {
    margin: 60px 0 0 0;
}
.service h2 {
    display: none; 
    /* 웹표준상 제목을 썼지만 디자인에 없는 요소라 숨김 */
}
.service ul {
    display: flex;
}
.service ul li {
    width: 16.66%;
    /* li가 6개라서 100/6 = 16.66 나눈값  */
    text-align: center;
}
.service ul li a {
    padding-top: 64px; /* 아이콘이 들어갈 자리 */
    display: inline-block;
    position: relative; /* before 정렬 기준 */
}
.service ul li a::before {
    position: absolute; /* a를 기준으로 정렬 */
    left: calc(50% - 39px);
    top: 0;
    content: "";
    width: 78px;
    height: 57px;
}
.service ul li.service01 a::before {
    background: url(../images/service01.svg) no-repeat center center;
}
.service ul li.service02 a::before {
    background: url(../images/service02.svg) no-repeat center center;
}
.service ul li.service03 a::before {
    background: url(../images/service03.svg) no-repeat center center;
}
.service ul li.service04 a::before {
    background: url(../images/service04.svg) no-repeat center center;
}
.service ul li.service05 a::before {
    background: url(../images/service05.svg) no-repeat center center;
}
.service ul li.service06 a::before {
    background: url(../images/service06.svg) no-repeat center center;
}
@media screen and (max-width:640px){
    .service {
        margin: 36px 0 0 0;
    }
    .service ul {
        flex-wrap: wrap; /* 두줄 허용 */
    }
    .service ul li {
        width: 33.33%;
        margin-bottom: 10px;
    }
    .service ul li a {
        padding-top: 50px; /* 아이콘의 사이즈 줄어서 여백도 바뀜 */
        word-break: normal; /* 한 단어 줄바꿈 허용 */
    }
    .service ul li a::before {
        left: calc(50% - 27px); /* 50% - 넓이의 반 */
        width: 53px; /* 아이콘의 사이즈 */
        height: 46px;
    }
    .service ul li a span {
        display: none;
    }
    .service ul li.service01 a::before {
        background-size: 46px auto; /* 넓이 px 높이는 비율에 맞게 자동 */
    }
    .service ul li.service02 a::before {
        background-size: 39px auto;
    }
    .service ul li.service03 a::before {
        background-size: 49px auto;
    }
    .service ul li.service04 a::before {
        background-size: 39px auto;
    }
    .service ul li.service05 a::before {
        background-size: 30px auto;
    }
    .service ul li.service06 a::before {
        background-size: 39px auto;
    }
}/*media*/

.service2 {
    margin: 63px 0 0 0;
}
.service2 h2 {
    display: none; 
    /* 웹표준상 제목을 썼지만 디자인에 없는 요소라 숨김 */
}
.service2 ul {
    display: flex;
    justify-content: space-between;
}
.service2 ul li {
    width: 200px;
    /* li가 6개라서 100/6 = 16.66 나눈값  */
}
.service2 ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    border: 1px solid #ccc;
}
.service2 ul li a span {
    padding-left: 63px;
    display: inline-block;
    position: relative;
}
.service2 ul li a span::before {
    position: absolute; /* span를 기준으로 정렬 */
    left: 0;
    top: 0;
    content: "";
    width: 63px;
    height: 36px;
}
.service2 ul li.service01 a span::before {
    background: url(../images/service01.svg) no-repeat center center;
}
.service2 ul li.service02 a span::before {
    background: url(../images/service02.svg) no-repeat center center;
}
.service2 ul li.service03 a span::before {
    background: url(../images/service03.svg) no-repeat center center;
}
.service2 ul li.service04 a span::before {
    background: url(../images/service04.svg) no-repeat center center;
}
.service2 ul li.service05 a span::before {
    background: url(../images/service05.svg) no-repeat center center;
}
.service2 ul li.service06 a span::before {
    background: url(../images/service06.svg) no-repeat center center;
}

@media screen and (max-width:640px){
    .service2 {
        margin: 27px 0 0 0;
    }
    .service2 ul {
        flex-wrap: wrap; /* 줄바꿈 허용 */
    }
    .service2 ul li {
        /* 한줄에 3개이고 사이사이 여백 16px 
          넓이는 % (한줄 3개 33.33% - 여백 px 총 여백 32px/3 )
            한줄에 2개 50% - 총 여백 16px/2 
            calc(50% - 8px)
        */
        width: calc(33.33% - 11px);
    }
    .service2 ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 71px;
        border: 1px solid #ccc;
    }
    .service2 ul li a span {
        padding-left: 63px;
        display: inline-block;
        position: relative;
    }
    .service2 ul li a span::before {
        position: absolute; /* span를 기준으로 정렬 */
        left: 0;
        top: 0;
        content: "";
        width: 63px;
        height: 36px;
    }
    .service2 ul li.service01 a span::before {
        background: url(../images/service01.svg) no-repeat center center;
    }
    .service2 ul li.service02 a span::before {
        background: url(../images/service02.svg) no-repeat center center;
    }
    .service2 ul li.service03 a span::before {
        background: url(../images/service03.svg) no-repeat center center;
    }
    .service2 ul li.service04 a span::before {
        background: url(../images/service04.svg) no-repeat center center;
    }
    .service2 ul li.service05 a span::before {
        background: url(../images/service05.svg) no-repeat center center;
    }
    .service2 ul li.service06 a span::before {
        background: url(../images/service06.svg) no-repeat center center;
    }
}/*media*/

.biz {
    margin: 80px 0 0 0;
}
.biz h2 {
    color: #1D1D1D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}
.biz ul {
    display: flex;
    justify-content: space-between;
}
/* .biz ul li:nth-child(2),
.biz ul li:nth-child(4) {
    margin-top: 20px;
} */
.biz ul li a {
    /* a에 사이즈를 주면 li는 a사이즈와 동일 */
    width: 308px;
    height: 342px;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 44px 40px 0 40px;
    /* 높이를 준 경우는 왼쪽 오른쪽 위의 여백만 줌
       하단의 여백은 안줘도 됨. 
       어차피 높이를 고정으로 줘서 여백이 발생함
       오히려 하단 여백을 주면 글자가 늘어날 경우 
       높이가 바뀔 가능성이 있음 */
    position: relative; /* more정렬의 기준 */
}
.biz ul li.biz01 a {
    background-color: #1F3D83;
}
.biz ul li.biz02 a {
    background-color: #097CBF;    
}
.biz ul li.biz03 a {
    background-color: #2AC49E;
}
.biz ul li.biz04 a {
    background-color: #1CA94B;
}
.biz ul li a::after {
    position: absolute; /* a를 기준으로 정렬 */
    content: ""; /* before/after 선택자가 보이게하는 값 */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    /* after 선택자에 준 넓이에 딱 맞게 배경이미지
       사이즈 조정 (높이는 비율에 맞게 조정) */
    opacity: 0.1; 
    /* 배경 투명처리가 없음 
       전체 opacity를 투명하게 처리 */
}
.biz ul li.biz01 a::after {
    right: 0;
    bottom: 0;
    width: 146px;
    height: 144px;
    background-image: url(../images/biz01.svg);
    opacity: 0.05;
}
.biz ul li.biz02 a::after {
    right: 13px;
    bottom: -70px;
    width: 133px;
    height: 206px;
    background-image: url(../images/biz02.svg);
}
.biz ul li.biz03 a::after {
    right: -21px;
    bottom: -13px;
    width: 194px;
    height: 155px;
    background-image: url(../images/biz03.svg);
}
.biz ul li.biz04 a::after {
    right: -16px;
    bottom: -18px;
    width: 155px;
    height: 155px;
    background-image: url(../images/biz04.svg);
}
.biz ul li a h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
.biz ul li a p {
    color: rgba(255,255,255,0.8);
}
/* 위에 배치된 h3/p 문장의 길이가 길거나 짧아도 
   디자인 동일한 위치에 배치되어야함.
   상단여백으로 배치X 
   position:absolute로 배치해야됨
   (위 컨텐츠가 5줄거나 4줄여도 같은 위치에 
   배치되어야 하므로) */
.biz ul li a .more {
    position: absolute; /* a를 기준으로 정렬 */
    left: 40px;
    bottom: 30px;
    color: rgba(255,255,255,0.8);
    padding-right: 25px;
}
.biz ul li a .more::after {
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 1px;
    width: 20px; /* 아이콘사이즈 */
    height: 20px;
    background: url(../images/biz_more.svg) no-repeat center center;
    content: "";
}
@media screen and (max-width:640px){
    .biz {
        margin: 45px 0 0 0;
    }
    .biz h2 {
        font-size: 25px;
    }
    .biz ul {
        display: block;
    }
    .biz ul li {
        margin-bottom: 5px;
    }
    .biz ul li a {
        width: auto; 
        /* a에 display:block있기때문에 넓이를 auto를
        주면 100%가 적용됨 */
        height: 121px;
        border-radius: 10px;
        padding: 21px 26px 0 26px;
    }
    .biz ul li a::after {
        opacity: 0.5;
    }
    .biz ul li.biz01 a::after {
        right: 37px;
        bottom: 28px;
        width: 66px;
        height: 66px;
        opacity: 0.5;
    }
    .biz ul li.biz02 a::after {
        right: 37px;
        bottom: 16px;
        width: 59px;
        height: 92px;
    }
    .biz ul li.biz03 a::after {
        right: 30px;
        bottom: 32px;
        width: 74px;
        height: 59px;
    }
    .biz ul li.biz04 a::after {
        right: 29px;
        bottom: 27px;
        width: 68px;
        height: 68px;
    }
    .biz ul li a h3 {
        font-size: 20px;
    }
    .biz ul li a p {
        display: none;
    }
    .biz ul li a .more {
        position: relative;
        left: auto;
        bottom: auto;
        padding-right: 20px;
    }
    .biz ul li a .more::after {
        top: 2px;
        width: 16px; /* 아이콘사이즈 */
        height: 16px;
        background-size: 16px auto;
    }
}/* media */

.news {
    margin-top: 110px;
}
.news h2 {
    color: #1D1D1D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 17px;
}
.news ul li {
    border: 1px solid #CCC;
    margin-bottom: 5px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 70px;
    font-size: 17px;
    /* 공지사항에 행간을 높이값으로 주면
    높이도 들어가고 글자도 높이에 중간에 배치됨 */
    padding: 0 57px; /* 위아래:0, 좌우:57px */
}
.news ul li a em {
    color: #fff;
    font-weight: 700;
    line-height: 26px;
    /* background 색상이 들어가는 만큼  */
    padding: 0 13px;
}
.news ul li.notice1 a em {
    background-color: #004289;
}
.news ul li.notice2 a em {
    background-color: #009FE3;
}
.news ul li a strong {
    color: #1D1D1D;
    width: 900px; 
    /* 글자가 들어갈 수 있는 최대 넓이 지정 
       날짜는 자리수가 딱 정해져 있음 
       왼쪽에 장학공지/일반공지도 자리수가 정해져있음
       하지만 제목은 입력한 대로 길수도 있고 짧을 수도 있음 
       그래서 글자가 들어갈 수 있는 최대 넓이를 제한 
       그 넓이를 넘어가면 제목을 잘라버리기 위해서 */
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden; /* 영역에서 넘치는 글자 숨김 */
    text-overflow: ellipsis; 
    /* 글자 끝에 ... 추가 
      글자가 반이 짤려서 나타날 수 있기때문에 
      이 현상을 막고 ...을 추가하는 방법 
      점3개를 2개로 변경 불가. 점 삭제 불가 */
}
.news ul li a span {
    color: #666;
}
.news .inner {
    position: relative; /* more 정렬의 기준 */
}
.news .more {
    position: absolute;
    right: 0;
    top: 15px;
}
.news .more a {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 39px 5px 18px;
    color: #666;
    display: block;
    position: relative;
}
.news .more a::after {
    position: absolute;
    right: 18px;
    top: 6px;
    width: 20px; /* 아이콘사이즈 */
    height: 20px;
    background: url(../images/news_more.svg) no-repeat center center / contain;
    /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
       contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
    content: "";
}
@media screen and (max-width:640px){
    .news {
        margin-top: 65px;
    }
    .news h2 {
        font-size: 25px;
    }
    .news ul li a {
        line-height: 35px;
        font-size: 13px;
        padding: 0 15px; /* 위아래:0, 좌우:57px */
    }
    .news ul li a em {
        display: none;
    }
    .news ul li a strong {
        width: calc(100% - 75px);
        /* 모바일에서는 제목의 넓이가 디바이스의 넓이에 따라 바뀜
           그래서 오른쪽 날짜와 여백값을 100%에서 빼줌
           (날짜와 여백은 고정값이니까.) */
    }
    .news .more {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 10px;
        text-align: center;
    }
    .news .more a {
        border: 0;
        border-radius: 0;
        padding: 0 20px 0 0;
        display: inline-block;
    }
    .news .more a::after {
        right: 0;
        top: 1px;
        width: 16px; /* 아이콘사이즈 */
        height: 16px;
    }
}/* media */

.webzine {
    /* background때문에 여백을 padding으로 줌
    padding은 내부여백이라 background가 padding영역까지 배치가능 */
    padding: 154px 0 133px 0;
    background: url(../images/webzine_bg.svg) no-repeat center top 80px / 2320px auto;
}
.webzine .inner {
    /* tit과 ul을 나란히 배치하기 위해 */
    display: flex;
    justify-content: space-between;
    /* more 정렬의 기준 */
    position: relative;
}
.webzine .tit h2 {
    color: #1D1D1D;
    font-size: 40px;
    font-weight: 700;
}
.webzine .tit strong {
    font-size: 20px;
    font-weight: 700;
}
.webzine ul {
    display: flex;
    /* justify-content: space-between; 적용되지 않음
       ul은 감싸는 요소가 display:flex를 줬기 때문에 
       넓이가 100%가 아님 ... 
       그래서 justify-conten로 사이에 여백을 주려고 해도
       줄 여백이 없음 (넓이가 없어서)
       li한테 사이에 여백을 줘야함 */

}
.webzine ul li {
    width: 308px;
    margin-left: 16px;
}
.webzine ul li a {
    background-color: #fff;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    /* a안에 있는 이미지는 border-radius 영역 밖으로 나옴
    그럼 해결방법 1. 이미지에 border-radus를 또 주는 방법 
    해결방법 2. overflow:hidden;으로 border-radius 밖으로 나온
    이미지 숨기기  */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.webzine ul li a strong {
    padding: 15px 24px 20px 24px;
    display: block;
    /* 제목 1줄로 자르기 */
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden; /* 영역 밖에 나간 글자 숨기기 */
    text-overflow: ellipsis; /* 글자가 반잘리는 현상 막기 */
}
.webzine .more {
    position: absolute; /* inner가 정렬의 기준 */
    left: 0;
    top: 105px;
}
.webzine .more a {
    display: block;
    padding-right: 22px;
    position: relative; /* after정렬기준 */
}
.webzine .more a::after {
    position: absolute;
    right: 0;
    top: 2px;
    width: 20px; /* 아이콘사이즈 */
    height: 20px;
    background: url(../images/news_more.svg) no-repeat center center / contain;
    /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
       contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
    content: "";
}

@media screen and (max-width:640px){
    .webzine {
        padding: 58px 0 70px 0;
        background-position: center top 140px;
        background-size: cover; /* 넓이가 고정이 아니라 반드시 cover */
    }
    .webzine .inner {
        display: block;
    }
    .webzine .tit {
        display: flex;
        align-items: flex-end; /* 좌우요소 하단 정렬 */
    }
    .webzine .tit h2 {
        font-size: 25px;
        margin-right: 5px;
    }
    .webzine .tit strong {
        font-size: 15px;
    }
    .webzine ul {
        margin-top: 15px;
        justify-content: space-between;
    }
    .webzine ul li {
        /* 100% 나누기 li 수 = 50% 
        사이 여백의 합 16px 나누기 li 수 = 8px */
        width: calc(50% - 8px);
        margin-left: 0;
    }
    /* 원래 3개의 li가 있는데 모바일에서는 2개만 보임 
       마지막 li를 숨김  */
    .webzine ul li:last-child { 
        display: none;
    }
    .webzine ul li a {
        border-radius: 10px;
    }
    .webzine ul li a img {
        width: 100%; 
        /* 감싸는 요소의 넓이에 맞게 사이즈가 조절
        이미지는 넓이만 주면 대부분 높이는 비율에 맞게 들어감 */
    }
    .webzine ul li a strong {
        padding: 0 15px 5px 15px;
    }
    .webzine .more {
        position: relative; /* inner가 정렬의 기준 */
        left: auto;
        top: auto;
        text-align: center;
        margin-top: 27px;
    }
    .webzine .more a {
        display: inline-block;
        padding: 5px 36px 5px 16px;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 20px;
        color: rgba(255,255,255,0.8);
    }
    .webzine .more a::after {
        right: 16px;
        top: 6px;
        width: 16px; /* 아이콘사이즈 */
        height: 16px;
        background: url(../images/biz_more.svg) no-repeat center center / contain;
        /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
           contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
    }
}/* media */

.footer {
    background-color: #097CBF;
    color: #fff;
    padding: 0 0 88px 0;
    /* footer 모바일에서 높이가 계속 바뀜.
    그래서 처음부터 높이를 안줌 
    위아래 여백 padding으로 줌 */
}
.footer .f_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 하단의 기준으로 위아래 정렬 */
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 26px; /* 선과 콘텐츠 사이 여백 */
}
.footer .f_top .f_logo strong {
    display: block; /* 하단 요소와 줄 바꿈 */
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.footer .f_top .f_logo span {
    display: block; /* 상단 요소와 줄바꿈 */
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.05em;
}
.footer .f_top .f_nav ul {
    display: flex;
}
.footer .f_top .f_nav ul li {
    margin-right: 33px;
    /* 모바일에서는 꼭 오른쪽에 여백이 들어가아햠
    두줄로 바뀔때 오른쪽에 여백이 있어야 왼쪽 정렬이
    잘됨 */
    position: relative;
}
.footer .f_top .f_nav ul li:last-child {
    margin-right: 0;
    /* 마지막 li의 오른쪽 여백 삭제 */
}
.footer .f_top .f_nav ul li::after {
    position: absolute;
    right: -18px;
    top: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%; /* 최대한 동글게 */
    background-color: rgba(255,255,255,0.5);
    content: ""; /* before / after를 보이게 하는 값 */
}
.footer .f_top .f_nav ul li:last-child:after {
    /* 마지막 li의 after는 숨김처리 */
    display: none;     
}
.footer .f_btm {
    margin-top: 16px;
}
.footer .f_btm .f_info span {
    margin-right: 25px;
}
.footer .f_btm .f_info strong {
    font-weight: 700;
}
.footer .f_btm .copyright {
    margin-top: 38px;
    color: rgba(255,255,255,0.8);
}
@media screen and (max-width:640px){
    .footer .f_top {
        display: block;
        border-top: 1px solid rgba(255,255,255,0.2);
        padding: 31px 0 15px 0; /* 선과 콘텐츠 사이 여백 */
    }
    .footer .f_top .f_logo strong {
        font-size: 25px;
    }
    .footer .f_top .f_logo span {
        font-size: 15px;
    }
    .footer .f_top .f_nav {
        margin-top: 38px;
    }
    .footer .f_top .f_nav ul {
        flex-wrap: wrap; /* 두줄 세줄 허용 */
    }
    .footer .f_top .f_nav ul li {
        margin-right: 27px;
    }
    .footer .f_top .f_nav ul li::after {
        right: -15px;
        top: 7px;
    }
    .footer .f_btm .copyright {
        margin-top: 25px;
    }
}/* media */