@charset "utf-8"; /* 이css문서는 UTF-8방식으로 인코딩 되어 있습니다. */
@import url(default.css);
/* 본고딕 CND방식으로 사용할때 폰트를 정의하는 font-face가 입력된 css를 import 불러다가 
   사용하는 방식을 많이 씀 
   이 방식은 간단하지만 문제가 google이 서비스를 중단하면 사용 못함. 
   font 파일을 저장해서 사용하는 방식을 씀 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif; /* 서체 */
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
       가로스크롤바가 생성되는데 오른쪽에 background가 
       짤리는 현상이 생김.  
       가로스크롤바가 생성되었을때도 홈페이지를 정상적으로 
       서비스 하기 위해서 최소 넓이를 입력 */
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭  */
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
    .wrapper { 
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨 
           디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에 
           그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
        margin: 0 20px;  
    }
    #wrap { 
        min-width: auto;  /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}/*media*/

.header {
    /* body를 기준으로 정렬 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; 
    /* header를 맨 위에 배치하기위해 
      - 다른 요소에 가려서 안보일까봐 */
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.header .logo {
    float: left;
    margin-top: 25px;
}
.header .logo a {
    width: 146px;
    height: 48px;
    display: block;
    /* 배경의 로고크기는 pc/mobile에서 사이즈가 다름 
    물론 background-size를 width와 높이값으로 수정 가능
    하지만 a태그에 준 넓이와 높이값에 맞게 background-size 자동으로
    조절되었으면 함. 
    contain - 이미지를 짜르지 않고 영역에 딱 맞게 조절 
    100% auto - 가로는 영역 딱맞게 세로는 가로비율에 맞게*/
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* a태그에 써준 글자를 안보이게 하는 방법 */
    font-size: 0;
    line-height: 0;
}
.header .inner {
    float: right;
    display: flex;
    align-items: center;
    /* display:flex는 좌우로 배치된 요소의 높이를
      제일 긴 사이즈와 동일하게 모든 높이를 맞춤 
      이를 원래 요소별 높이로 주고 싶으면 align-items를 줘야함 */
}
/* 모바일에서 사용할 메뉴 열기 버튼 
 - pc 버전에서는 숨김 처리  */
.header .gnb .gnb_open {
    display: none;
    /* 태그를 지운것처럼 공간을 차지하지 않음 */
}
.header .gnb ul {
    display: flex;
}
.header .gnb ul li a {
    font-size: 22px;
    font-weight: 700;
    padding: 34px 25px;
    display: block;
}
.header .login {
    width: 31px;
    height: 31px;
    background: url(../images/login_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
    margin: 0 14px 0 35px;
}
.header .lang {
    width: 31px;
    height: 31px;
    background: url(../images/lang_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
}
/* header가 스크롤이 되면 jquery에서 header에 fixed라는 클래스를 
추가할 예정. 그때의 스타일 */
.header.fixed {
    color: #1D1D1D;
    border-bottom: 0;
    background-color: #fff;
}
.header.fixed .logo a {
    background: url(../images/logo.svg) no-repeat center center / contain;
}
.header.fixed .login {
    background: url(../images/login.svg) no-repeat center center;
}
.header.fixed .lang {
    background: url(../images/lang.svg) no-repeat center center;
}
@media screen and (max-width:640px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin-top: 10px;
    }
    .header .logo a {
        width: 82px;
        height: 27px;
    }
    /* 모바일에서 사용할 메뉴 열기 버튼 
     - pc 버전에서는 숨김 처리 - 모바일에서는 보이도록
     display:none;으로 숨긴 요소는 display에 none를 제외하고 무엇을 주던지 나타남  */
    .header .gnb .gnb_open {
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/gnb_open_w.svg) no-repeat center center;
        font-size: 0;
        line-height: 0;
        margin-top: 16px;
    }
    .header .gnb ul {
        display: none; 
        /* 모바일에서 메뉴는 메뉴 열기 버튼을 클릭해 나타남 */
    }
    .header .login {
        display: none;
    }
    .header .lang {
        display: none;
    }
    .header.fixed .gnb .gnb_open {
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
}/* media */

.visual {
    /* background  사이즈 조절 
     cover는 영역에 이미지가 꽉차게 - 이미지 일부가 짤리고 배경은 꽉참 - 배경에 이미지
     contain 영역에 이미지가 꽉차게 - 이미지는 안짤리고 배경이 일부가 빔 - 배경에 로고가 들어간 경우  */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    /* 내부에 콘텐츠가 짤리지 않을 정도의 최소 높이값을 줘야함 */
    text-align: center;
}
.visual .inner {
    display: flex;
    flex-direction: column; /* 세로배치 */
    justify-content: center; /* 세로에서 가운데 */
    height: 100vh; /* 브라우저 높이와 동일한 높이 */
    min-height: 600px;
}
/* visual의 높이가 브라우저의 높이에 따라서 바뀜
    그래서 h2태그가 위에서 부터의 여백이 그때그때 달라짐 
    --> 고정값으로 줄 수가 없음 
    사이즈가 변경될때 가운데는 바뀌지 않음...
    h2태그는 원래 디자인 자체가 visual영역에 위아래 가운데 디자인
    코딩도 위아래 가운데에서 부터 시작해서 여백을 줘야함 */
.visual h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 100px;
}
.visual p {
    margin-top: 27px;
    font-size: 20px;
}
@media screen and (max-width:640px){
    .visual .inner {
        height: 300px;
        min-height: auto; /* 높이값을 줬다가 취소하는 것은 auto */
    }
    .visual h2 {
        font-size: 30px;
        margin-top: 0;
    }
    .visual p {
        display: none; 
    }
}/*media*/

.service {
    margin: 60px 0 0 0;
}
.service h2 {
    display: none; 
    /* 웹표준상 제목을 썼지만 디자인에 없는 요소라 숨김 */
}
.service ul {
    display: flex;
}
.service ul li {
    width: 16.66%;
    /* li가 6개라서 100/6 = 16.66 나눈값  */
    text-align: center;
}
.service ul li a {
    padding-top: 64px; /* 아이콘이 들어갈 자리 */
    display: inline-block;
    position: relative; /* before 정렬 기준 */
}
.service ul li a::before {
    position: absolute; /* a를 기준으로 정렬 */
    left: calc(50% - 39px);
    top: 0;
    content: "";
    width: 78px;
    height: 57px;
}
.service ul li.service01 a::before {
    background: url(../images/service01.svg) no-repeat center center;
}
.service ul li.service02 a::before {
    background: url(../images/service02.svg) no-repeat center center;
}
.service ul li.service03 a::before {
    background: url(../images/service03.svg) no-repeat center center;
}
.service ul li.service04 a::before {
    background: url(../images/service04.svg) no-repeat center center;
}
.service ul li.service05 a::before {
    background: url(../images/service05.svg) no-repeat center center;
}
.service ul li.service06 a::before {
    background: url(../images/service06.svg) no-repeat center center;
}
@media screen and (max-width:640px){
    .service {
        margin: 36px 0 0 0;
    }
    .service ul {
        flex-wrap: wrap; /* 두줄 허용 */
    }
    .service ul li {
        width: 33.33%;
        margin-bottom: 10px;
    }
    .service ul li a {
        padding-top: 50px; /* 아이콘의 사이즈 줄어서 여백도 바뀜 */
        word-break: normal; /* 한 단어 줄바꿈 허용 */
    }
    .service ul li a::before {
        left: calc(50% - 27px); /* 50% - 넓이의 반 */
        width: 53px; /* 아이콘의 사이즈 */
        height: 46px;
    }
    .service ul li a span {
        display: none;
    }
    .service ul li.service01 a::before {
        background-size: 46px auto; /* 넓이 px 높이는 비율에 맞게 자동 */
    }
    .service ul li.service02 a::before {
        background-size: 39px auto;
    }
    .service ul li.service03 a::before {
        background-size: 49px auto;
    }
    .service ul li.service04 a::before {
        background-size: 39px auto;
    }
    .service ul li.service05 a::before {
        background-size: 30px auto;
    }
    .service ul li.service06 a::before {
        background-size: 39px auto;
    }
}/*media*/

.service2 {
    margin: 63px 0 0 0;
}
.service2 h2 {
    display: none; 
    /* 웹표준상 제목을 썼지만 디자인에 없는 요소라 숨김 */
}
.service2 ul {
    display: flex;
    justify-content: space-between;
}
.service2 ul li {
    width: 200px;
    /* li가 6개라서 100/6 = 16.66 나눈값  */
}
.service2 ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    border: 1px solid #ccc;
}
.service2 ul li a span {
    padding-left: 63px;
    display: inline-block;
    position: relative;
}
.service2 ul li a span::before {
    position: absolute; /* span를 기준으로 정렬 */
    left: 0;
    top: 0;
    content: "";
    width: 63px;
    height: 36px;
}
.service2 ul li.service01 a span::before {
    background: url(../images/service01.svg) no-repeat center center;
}
.service2 ul li.service02 a span::before {
    background: url(../images/service02.svg) no-repeat center center;
}
.service2 ul li.service03 a span::before {
    background: url(../images/service03.svg) no-repeat center center;
}
.service2 ul li.service04 a span::before {
    background: url(../images/service04.svg) no-repeat center center;
}
.service2 ul li.service05 a span::before {
    background: url(../images/service05.svg) no-repeat center center;
}
.service2 ul li.service06 a span::before {
    background: url(../images/service06.svg) no-repeat center center;
}

@media screen and (max-width:640px){
    .service2 {
        margin: 27px 0 0 0;
    }
    .service2 ul {
        flex-wrap: wrap; /* 줄바꿈 허용 */
    }
    .service2 ul li {
        /* 한줄에 3개이고 사이사이 여백 16px 
          넓이는 % (한줄 3개 33.33% - 여백 px 총 여백 32px/3 )
            한줄에 2개 50% - 총 여백 16px/2 
            calc(50% - 8px)
        */
        width: calc(33.33% - 11px);
    }
    .service2 ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 71px;
        border: 1px solid #ccc;
    }
    .service2 ul li a span {
        padding-left: 63px;
        display: inline-block;
        position: relative;
    }
    .service2 ul li a span::before {
        position: absolute; /* span를 기준으로 정렬 */
        left: 0;
        top: 0;
        content: "";
        width: 63px;
        height: 36px;
    }
    .service2 ul li.service01 a span::before {
        background: url(../images/service01.svg) no-repeat center center;
    }
    .service2 ul li.service02 a span::before {
        background: url(../images/service02.svg) no-repeat center center;
    }
    .service2 ul li.service03 a span::before {
        background: url(../images/service03.svg) no-repeat center center;
    }
    .service2 ul li.service04 a span::before {
        background: url(../images/service04.svg) no-repeat center center;
    }
    .service2 ul li.service05 a span::before {
        background: url(../images/service05.svg) no-repeat center center;
    }
    .service2 ul li.service06 a span::before {
        background: url(../images/service06.svg) no-repeat center center;
    }
}/*media*/
.footer {
    height: 500px;
}