@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 문미영
    작성일 : 2024.02.28
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/

.visual h2 {
    display: none;
}
.visual .swiper {
    height:800px;  /* 팝업의 높이가 됨 */
}
.visual .swiper-slide img { display:block; width:100%; height:100%; object-fit:cover; }
.visual .visual_txt {
    position: absolute; /* swiper-slide */
    left: calc(50% - 640px);
    top: 310px;
}
.visual .visual_txt strong {
    display: block;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 10px 0;
}
.visual .visual_txt span {
    display: block;
    color: rgba(255,255,255,0.8);
}
.visual .btn_ctrl {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: calc(50% - 640px);
    top: 282px;
    z-index: 10;
    display: flex; /* 버튼사이 여백 삭제 */
}
.visual .btn_ctrl button {
    width: 30px;
    height: 30px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_ctrl button:first-child {
    /* 첫번째 버튼에만 왼쪽선을 추가 */
    border-left-width: 1px;
}
.visual .btn_ctrl button.prev {
    background-size: 8px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7.861 13.252'%3E%3Cpath id='chevron_left_FILL0_wght300_GRAD0_opsz24' d='M340.473-692.9l-6.626-6.626,6.626-6.626,1.235,1.235-5.391,5.391,5.391,5.391Z' transform='translate(-333.847 706.153)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_ctrl button.next {
    background-size: 8px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7.861 13.252'%3E%3Cpath id='chevron_left_FILL0_wght300_GRAD0_opsz24' d='M340.473-692.9l-6.626-6.626,6.626-6.626,1.235,1.235-5.391,5.391,5.391,5.391Z' transform='translate(341.708 -692.901) rotate(180)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_ctrl button.stop {
    background-size: 7px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 12'%3E%3Cg id='그룹_8' data-name='그룹 8' transform='translate(-392.5 -290.374)'%3E%3Cline id='선_17' data-name='선 17' y2='12' transform='translate(393.5 290.374)' fill='none' stroke='%23fff' stroke-width='2'/%3E%3Cline id='선_18' data-name='선 18' y2='12' transform='translate(400.5 290.374)' fill='none' stroke='%23fff' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_ctrl button.play {
    display: none; /* 숨김 */
    background-size: 9px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 11'%3E%3Cg id='다각형_1' data-name='다각형 1' transform='translate(9) rotate(90)' fill='none'%3E%3Cpath d='M5.5,0,11,9H0Z' stroke='none'/%3E%3Cpath d='M 5.5 1.917726516723633 L 1.783055305480957 8 L 9.216944694519043 8 L 5.5 1.917726516723633 M 5.5 0 L 11 9 L 0 9 L 5.5 0 Z' stroke='none' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1320px){
    .visual .visual_txt {
        left: 20px;
        top: 310px;
        width: calc(100% - 40px); /* 왼쪽 오른쪽 20px여백 */
    }
    .visual .visual_txt strong {
        font-size: 40px;
    }
    .visual .btn_ctrl {
        left: 20px;
    }
}
@media screen and (max-width:1024px){
    .visual .swiper {
        height: 600px;
    }
    .visual .visual_txt {
        top: 300px;
    }
    .visual .visual_txt strong {
        font-size: 30px;
    }
    .visual .btn_ctrl {
        top: 260px;
    }
}
@media screen and (max-width:768px){
    .visual .swiper {
        height: 400px;
    }
    .visual .visual_txt {
        top: 180px;
    }
    .visual .visual_txt strong {
        font-size: 25px;
    }
    .visual .btn_ctrl {
        display: none;
    }
}

.biz .tit {
    margin: 93px 0 40px 0;
}
.biz .tit h2 {
    font-size: 17px;
    font-weight: 700;
    color: #F51919;
}
.biz .tit h2 span {
    position: relative;
}
.biz .tit h2 span::after {
    position: absolute;
    right: -15px;
    top: -2px;
    width: 13px;
    height: 12px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.361 11.914'%3E%3Cpath id='패스_3' data-name='패스 3' d='M83.326,11.914a1.342,1.342,0,0,1-1.263-1.789L84.4,3.541,77.37,6.029A1.34,1.34,0,0,1,76.476,3.5L86.155.076a1.34,1.34,0,0,1,1.71,1.712l-3.276,9.233a1.341,1.341,0,0,1-1.263.893' transform='translate(-75.582 0)' fill='%23e60019'/%3E%3C/svg%3E%0A");
}
.biz .tit p {
    margin-top: 7px;
    font-size: 35px;
    line-height: 1.2;
    color: #1D1D1D;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2px;
    color: #fff;
    position: relative; /* before정렬의 기준 */
    transition: 0.5s;
}
.biz .list ul li:last-child {
    margin-right: 0;
}
.biz .list ul li.biz01 {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz02 {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz03 {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz04 {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li::before {
    position: absolute; /* li를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    content: "";
    transition: 0.5s;
}
.biz .list ul li a {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 40px 70px 40px;
    position: relative; /* before보다 위에 존재하기 위해서 */
    z-index: 10;
}
.biz .list ul li a strong {
    display: block;
}
.biz .list ul li a span {
    display: block;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    transition: 0.2s;
}
.biz .list ul li a em {
    display: none;
    margin-top: 3px;
}
/* 마우스 오버 */
.biz .list ul li.on {
    width: 50%;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.biz .list ul li.on a span {
    font-size: 50px;
}
.biz .list ul li.on a em {
    display: block;
}
.biz .list ul li.on::before {
    opacity: 0;
}
.biz .list ul li.off {
    /* width: 20%; */
    color: rgba(255,255,255,0.8);
    /* li가 줄어들어서 글자가 줄바뀌는 것을 방지 */
    white-space: nowrap;
    overflow: hidden;
}
.biz .list ul li.off::before {
    opacity: 0.5;
}
.biz .list ul li.off span {
    font-size: 30px;
}
@media screen and (max-width:1320px){
    .biz .tit p {
        font-size: 30px;
    }
    .biz .list ul li a {
        padding: 0 20px 70px 20px;
    }
    .biz .list ul li a span {
        font-size: 30px;
    }
    .biz .list ul li.on a span {
        font-size: 40px;
    }
    .biz .list ul li.off span {
        font-size: 25px;
    }
}
@media screen and (max-width:1024px){
    .biz .tit h2 {
        font-size: 15px;
    }
    .biz .tit p {
        font-size: 25px;
    }
    .biz .list ul {
        flex-wrap: wrap; /* 줄바꿈 허용 */
    }
    .biz .list ul li {
        width: calc(50% - 1px);
        margin-bottom: 2px;
    }
    .biz .list ul li:nth-child(2) {
        margin-right: 0;
    }
    .biz .list ul li a {
        height: 300px;
        padding-bottom: 40px;
    }
    .biz .list ul li a span {
        font-size: 25px;
    }
}
@media screen and (max-width:768px){
    .biz .tit {
        margin: 47px 0 10px 0;
    }
    .biz .tit h2 {
        font-size: 13px;
    }
    .biz .tit h2 span::after {
        width: 10px;
        height: 10px;
        right: -10px;
    }
    .biz .tit p {
        font-size: 20px;
    }
    .biz .tit p br {
        display: none;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto;
        margin-right: 0;
        margin-bottom: 1px;
    }
    .biz .list ul li a {
        height: auto;
        padding: 35px 20px;
        position: relative; /* after 정렬의 기준 */
    }
    .biz .list ul li a::after {
        position: absolute;
        right: 20px;
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cg id='그룹_14' data-name='그룹 14' transform='translate(-305 -562)'%3E%3Cpath id='chevron_left_FILL0_wght300_GRAD0_opsz24' d='M340.01-693.826l-6.164-6.163,6.164-6.163L341.159-705l-5.015,5.015,5.015,5.015Z' transform='translate(658.348 -122.989) rotate(180)' fill='%23fff'/%3E%3Cg id='타원_3' data-name='타원 3' transform='translate(305 562)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='15' cy='15' r='15' stroke='none'/%3E%3Ccircle cx='15' cy='15' r='14.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
}

.news .tit {
    margin: 93px 0 50px 0;
}
.news .tit h2 {
    font-size: 17px;
    font-weight: 700;
    color: #F51919;
}
.news .tit h2 span {
    position: relative;
}
.news .tit h2 span::after {
    position: absolute;
    right: -15px;
    top: -2px;
    width: 13px;
    height: 12px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.361 11.914'%3E%3Cpath id='패스_3' data-name='패스 3' d='M83.326,11.914a1.342,1.342,0,0,1-1.263-1.789L84.4,3.541,77.37,6.029A1.34,1.34,0,0,1,76.476,3.5L86.155.076a1.34,1.34,0,0,1,1.71,1.712l-3.276,9.233a1.341,1.341,0,0,1-1.263.893' transform='translate(-75.582 0)' fill='%23e60019'/%3E%3C/svg%3E%0A");
}
.news .tit p {
    margin-top: 7px;
    font-size: 35px;
    line-height: 1.2;
    color: #1D1D1D;
}
.news .list ul li {
    border-top: 2px solid #3B3B3B;
}
.news .list ul li a {
    display: block;
}
.news .list ul li a .date {
    display: block;
    font-size: 35px;
    color: #1D1D1D;
    margin: 15px 0 5px 0;
}
.news .list ul li a h3 {
    font-size: 25px;
    font-weight: 700;
    color: #3B3B3B;
    /* 1줄만 */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* 2줄만 */
    line-height: 1.4;
    height: 2.8em; /* 행간 * 줄수, 단위는 em */
    overflow: hidden;
}
.news .list ul li a p {
    margin: 20px 0 30px 0;
    line-height: 1.4;
    height: 4.2em; /* 행간 * 줄수, 단위는 em */
    overflow: hidden;
}
.news .list ul li a .photo {
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 162px;
}
.news .list ul li a .photo img {
    transition: 0.5s;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .more {
    text-align: right;
    margin-top: 18px;
}
.news .more a {
    display: inline-block;
    padding-right: 15px;
    position: relative; /* after정렬의 기준 */
}
.news .more a::after {
    position: absolute;
    right: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.667 9.667'%3E%3Cpath id='add_FILL0_wght200_GRAD0_opsz24' d='M244.43-714.764H240v-.806h4.43V-720h.806v4.43h4.43v.806h-4.43v4.43h-.806Z' transform='translate(-240 720)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1320px){
    .news .tit p {
        font-size: 30px;
    }
    .news .list ul li a .date {
        font-size: 30px;
    }
    .news .list ul li a h3 {
        font-size: 20px;
    }
}
@media screen and (max-width:1024px){
    .news .tit h2 {
        font-size: 15px;
    }
    .news .tit p {
        font-size: 25px;
    }
    .news .list ul li a .date {
        font-size: 25px;
    }
    .news .list ul li a h3 {
        font-size: 17px;
    }
}
@media screen and (max-width:768px){
    .news .tit {
        margin: 47px 0 20px 0;
    }
    .news .tit h2 {
        font-size: 13px;
    }
    .news .tit h2 span::after {
        width: 10px;
        height: 10px;
        right: -10px;
    }
    .news .tit p {
        font-size: 20px;
    }
    .news .tit p br {
        display: none;
    }
    .news .list ul li a .photo {
        height: 147px;
    }
    .news .more {
        text-align: center;
    }
}
@media screen and (max-width:500px){
    .news .list ul li {
        border: 1px solid #3D3D3D;
    }
    .news .list ul li a .date {
        margin: 20px 20px 10px 20px;
    }
    .news .list ul li a h3 {
        margin: 0 20px 0 20px;
        height: auto;
    }
    .news .list ul li a p {
        margin: 7px 20px 20px 20px;
    }
}

.service {
    background: url(../images/main/service_bg.png) no-repeat center center / cover;
    color: #fff;
    padding: 166px 0 113px 0;
    margin-top: 100px;
}
.service .tit h2 {
    display: none;
}
.service .tit p {
    margin-top: 7px;
    font-size: 35px;
    line-height: 1.2;
}
.service .list {
    margin-top: 45px;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 18.66px);
    background-color: #fff;
    color: #3d3d3d;
    transition: 0.5s;
}

.service .list ul li a {
    display: block;
    height: 95px;
    padding: 22px 0 0 110px;
    position: relative; /* before 정렬의 기준 */
}
.service .list ul li a::before {
    position: absolute;
    left: 50px;
    top: 24px;
    width: 38px;
    height: 42px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.service .list ul li.esg a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.425 39.811'%3E%3Cpath id='potted_plant_FILL0_wght200_GRAD0_opsz24' d='M171.011-801.634h13.318a1.417,1.417,0,0,0,.937-.319,1.819,1.819,0,0,0,.553-.788l2.555-10.176H166.966l2.555,10.176a1.818,1.818,0,0,0,.554.788A1.417,1.417,0,0,0,171.011-801.634Zm0,2.214a3.622,3.622,0,0,1-2.286-.771,3.745,3.745,0,0,1-1.337-2.01l-2.7-10.716h25.973l-2.7,10.716a3.859,3.859,0,0,1-1.337,1.989,3.56,3.56,0,0,1-2.286.792Zm-7.264-15.711h27.931a1.5,1.5,0,0,0,1.107-.426,1.444,1.444,0,0,0,.426-1.064v-3.79h-31v3.79a1.408,1.408,0,0,0,.447,1.064A1.515,1.515,0,0,0,163.747-815.131Zm13.923-12.816a10.089,10.089,0,0,1,3.428-7.686,13.288,13.288,0,0,1,7.983-3.6,12.54,12.54,0,0,1-3.325,7.273,12.6,12.6,0,0,1-6.979,3.917v5.416h16.648v6a3.533,3.533,0,0,1-1.109,2.616,3.639,3.639,0,0,1-2.638,1.088H163.747a3.639,3.639,0,0,1-2.638-1.088A3.533,3.533,0,0,1,160-816.621v-6h16.563v-5.416a12.651,12.651,0,0,1-6.979-3.9,12.477,12.477,0,0,1-3.325-7.293,13.289,13.289,0,0,1,7.962,3.619A10.081,10.081,0,0,1,177.67-827.947Z' transform='translate(-160 839.23)' fill='%23666'/%3E%3C/svg%3E%0A");
}
.service .list ul li.ir a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.67 39.81'%3E%3Cpath id='account_balance_FILL0_wght200_GRAD0_opsz24' d='M148.13-842.253V-860.06h2.226v17.808Zm11.13,0V-860.06h2.226v17.808Zm-17.722,6.678V-837.8h37.67v2.226Zm28.852-6.678V-860.06h2.226v17.808Zm-28.852-22.259V-866.4l18.835-8.989,18.835,8.989v1.883Zm5.882-2.226h0Zm0,0h25.906l-12.953-6.121Z' transform='translate(-141.538 875.385)' fill='%23666'/%3E%3C/svg%3E%0A");
}
.service .list ul li.webzine a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.312 41.571'%3E%3Cpath id='book_5_FILL0_wght200_GRAD0_opsz24' d='M204.289-846.429a4.289,4.289,0,0,1-3.029-1.172A3.8,3.8,0,0,1,200-850.5v-28.913a4.268,4.268,0,0,1,1.147-2.952,5.127,5.127,0,0,1,2.829-1.62L222.984-888v31.645L203.8-852.2a2.509,2.509,0,0,0-1.145.6,1.433,1.433,0,0,0-.491,1.1,1.713,1.713,0,0,0,.633,1.376,2.247,2.247,0,0,0,1.491.531h23.859v-32.478h2.165v34.643Zm3.04-8.7,13.491-2.944v-27.248l-13.491,2.861Zm-2.165.45v-27.331l-.937.2a2.691,2.691,0,0,0-1.474.847,2.24,2.24,0,0,0-.587,1.543v25.695a6.293,6.293,0,0,1,.8-.4,5.1,5.1,0,0,1,.839-.26Zm-3-26.882v0Z' transform='translate(-200 888)' fill='%23666'/%3E%3C/svg%3E%0A");
}
.service .list ul li a strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #1D1D1D;
}
.service .list ul li a span {
    display: block;
}
@media screen and (min-width:1025px){
    .service .list ul li:hover {
        transform: translate(-10px, -10px); /* 왼쪽상단으로 이동 */
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    }
}
@media screen and (max-width:1320px){
    .service .tit p {
        font-size: 30px;
    }
    .service .list ul li a {
        padding: 22px 0 0 75px;
    }
    .service .list ul li a::before {
        left: 30px;
    }
}
@media screen and (max-width:1024px){
    .service {
        padding: 85px 0 50px 0;
        margin-top: 70px;
    }
    .service .tit p {
        font-size: 25px;
    }
    .service .list ul {
        backdrop-filter: blur(20px) brightness(90%);
        border-radius: 10px;
    }
    .service .list ul li {
        border-radius: 10px;
        width: 33.33%;
        background-color: transparent;
        color: #fff;
    }
    .service .list ul li a {
        padding: 70px 0 20px 0;
        text-align: center;
        height: auto;
    }
    .service .list ul li a::before {
        left: 0;
        top: 25px;
        width: 100%;
        height: 30px;
    }
    .service .list ul li.esg a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.425 39.811'%3E%3Cpath id='potted_plant_FILL0_wght200_GRAD0_opsz24' d='M171.011-801.634h13.318a1.417,1.417,0,0,0,.937-.319,1.819,1.819,0,0,0,.553-.788l2.555-10.176H166.966l2.555,10.176a1.818,1.818,0,0,0,.554.788A1.417,1.417,0,0,0,171.011-801.634Zm0,2.214a3.622,3.622,0,0,1-2.286-.771,3.745,3.745,0,0,1-1.337-2.01l-2.7-10.716h25.973l-2.7,10.716a3.859,3.859,0,0,1-1.337,1.989,3.56,3.56,0,0,1-2.286.792Zm-7.264-15.711h27.931a1.5,1.5,0,0,0,1.107-.426,1.444,1.444,0,0,0,.426-1.064v-3.79h-31v3.79a1.408,1.408,0,0,0,.447,1.064A1.515,1.515,0,0,0,163.747-815.131Zm13.923-12.816a10.089,10.089,0,0,1,3.428-7.686,13.288,13.288,0,0,1,7.983-3.6,12.54,12.54,0,0,1-3.325,7.273,12.6,12.6,0,0,1-6.979,3.917v5.416h16.648v6a3.533,3.533,0,0,1-1.109,2.616,3.639,3.639,0,0,1-2.638,1.088H163.747a3.639,3.639,0,0,1-2.638-1.088A3.533,3.533,0,0,1,160-816.621v-6h16.563v-5.416a12.651,12.651,0,0,1-6.979-3.9,12.477,12.477,0,0,1-3.325-7.293,13.289,13.289,0,0,1,7.962,3.619A10.081,10.081,0,0,1,177.67-827.947Z' transform='translate(-160 839.23)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    .service .list ul li.ir a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.67 39.81'%3E%3Cpath id='account_balance_FILL0_wght200_GRAD0_opsz24' d='M148.13-842.253V-860.06h2.226v17.808Zm11.13,0V-860.06h2.226v17.808Zm-17.722,6.678V-837.8h37.67v2.226Zm28.852-6.678V-860.06h2.226v17.808Zm-28.852-22.259V-866.4l18.835-8.989,18.835,8.989v1.883Zm5.882-2.226h0Zm0,0h25.906l-12.953-6.121Z' transform='translate(-141.538 875.385)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    .service .list ul li.webzine a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.312 41.571'%3E%3Cpath id='book_5_FILL0_wght200_GRAD0_opsz24' d='M204.289-846.429a4.289,4.289,0,0,1-3.029-1.172A3.8,3.8,0,0,1,200-850.5v-28.913a4.268,4.268,0,0,1,1.147-2.952,5.127,5.127,0,0,1,2.829-1.62L222.984-888v31.645L203.8-852.2a2.509,2.509,0,0,0-1.145.6,1.433,1.433,0,0,0-.491,1.1,1.713,1.713,0,0,0,.633,1.376,2.247,2.247,0,0,0,1.491.531h23.859v-32.478h2.165v34.643Zm3.04-8.7,13.491-2.944v-27.248l-13.491,2.861Zm-2.165.45v-27.331l-.937.2a2.691,2.691,0,0,0-1.474.847,2.24,2.24,0,0,0-.587,1.543v25.695a6.293,6.293,0,0,1,.8-.4,5.1,5.1,0,0,1,.839-.26Zm-3-26.882v0Z' transform='translate(-200 888)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    .service .list ul li a strong {
        font-size: 17px;
        color: #fff;
    }
    
}
@media screen and (max-width:768px){
    .service {
        padding: 77px 0 42px 0;
        margin-top: 50px;
    }
    .service .tit p {
        font-size: 20px;
    }
    .service .tit p br {
        display: none;
    }
    .service .list {
        margin-top: 30px;
    }
    .service .list ul li a {
        padding: 50px 0 15px 0;
    }
    .service .list ul li a::before {
        top: 20px;
        height: 21px;
    }
    .service .list ul li a strong {
        font-size: 13px;
        color: #fff;
    }
    .service .list ul li a span {
        display: none;   
    }
}